*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.claro {
  background-color: white;
  color: black;
}

.oscuro {
  background-color: darkgray;
  color: azure;
}

.title{
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
}

.div{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.parrafo{
  margin: 20px;
}

