.movies {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 30rem;
    margin: 0 1rem 1rem 0;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
  }

  &__title {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    font-weight: bold;
    background-color: aquamarine;
  }
}
